
    <mat-toolbar id="app-navbar">
        <mat-grid-list cols="13" style="width: 100%;">
          <mat-grid-tile colspan="2" id="logo" > <a [routerLink]="'about'"><img src="./../../assets/img/logo.png"
              style="width:33%;height:44%;z-index: 100; background-color: white;" /></a>
          </mat-grid-tile>
          <mat-grid-tile colspan="3" > 
            </mat-grid-tile>         
   
          <mat-grid-tile colspan="2">    
            <a  class="txtNavbar" [routerLink]="'messages'">הודעות </a>
          </mat-grid-tile>      
          <mat-grid-tile colspan="2">    
            <a  class="txtNavbar" [routerLink]="'tableForDriver'">נסיעות שלי(נוסע) </a>
          </mat-grid-tile>      
          <mat-grid-tile colspan="2">    
            <a  class="txtNavbar" [routerLink]="'tableForDriver'">נסיעות שלי(נהג) </a>
          </mat-grid-tile> 
          <mat-grid-tile colspan="2">    
            <a  class="txtNavbar" [routerLink]="'register'">פרופיל שלי </a>
          </mat-grid-tile>         
        </mat-grid-list>
      </mat-toolbar>

