.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    // border:2px solid black;
    // margin-left: 70%;
    float: right;

  }
  .loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #570391;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .mat-form-field-wrapper{
    text-align: right !important;
}
.example-full-width{
  text-align:right;
}
  