.body{
    margin: 0;
  padding: 0;
  background: url(../../../assets/img/travel-anaga-mountains.jpg) no-repeat;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden
}

.forgotBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  opacity: 0.8;
}


.forgotBox input {
  width: 100%;
  margin-bottom: 20px
}

.forgotBox input[type="text"],
.forgotBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color:black;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box
}

.forgotBox input[type="text"]:hover,
.forgotBox input[type="password"]:hover {
  color: #f43d45;
  border: 1px solid #f43d45;
box-shadow: 0 0 1px #c41970, 0 0 3px #c41970, 0 0 1px #c41970, 0 1px 0 black
}

.forgotBox input[type="text"]:focus,
.forgotBox input[type="password"]:focus {
  border-bottom: 2px solid #f43d45
}
.forgotBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #570391;
  color: #fff;
  border-radius: 20px;
  cursor: pointer
}

.inputBox {
  position: relative
}

.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626
}


.forgotBox a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block
}

a:hover {
  color: #f43d45
}

p {
  color: #bd0b14;
  text-align: center;
  font-size: larger;
}
.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px
}


  