<div class="body">
    <div class="forgotBox">
        <img class="user" src="../../assets/img/logo.png" height="100px" width="100px">
        <p>Forgot Password</p>
        <div class="inputBox">
            <input name="userName" type="text" placeholder="שם משתמש" #userName>
            <input type="password" name="password" placeholder="סיסמא" #password>
            <input type="password" name="password2" placeholder="אימות סיסמא" #password2>
        </div>
        <p>{{textError}}</p>
        <input type="submit" value="אישור" (click)="changePassword(userName.value,password.value,password2.value)" />
        <a routerLink="/login">כניסה למערכת<br /> </a>
    </div>
</div>