<button class="close" mat-button (click)="onNoClick()">X</button>

<mat-progress-spinner style="z-index: 1;margin-top: 100px;position: absolute;margin-left: 10%;"
    *ngIf="toLoaded === true" class="sppiner-margin" [color]="color" [mode]="mode" [value]="100">
</mat-progress-spinner>
<form class="example-form" style="direction: rtl;">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>כתובת מקור</mat-label>
        <input matInput placeholder="רחוב יהושע בני ברק" [(ngModel)]="travel.source" name="source">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>כתובת יעד</mat-label>
        <input matInput placeholder="רחוב פרדו בני ברק" [(ngModel)]="travel.destination" name="destination">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>שעת יציאה</mat-label>
        <input matInput placeholder="20:00" type="time" [(ngModel)]="travel.exitTime" name="exitTime">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>שעת הגעה</mat-label>
        <input matInput placeholder="21:00" type="time" [(ngModel)]="travel.arriveTime" name="arriveTime">
    </mat-form-field>


    <div *ngIf="statusTravel; then thenBlock else elseBlock"></div>

    <ng-template  #thenBlock>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>יום הנסיעה בשבוע</mat-label>
            <mat-select [(ngModel)]="travel.day" name="day" [value]="travel.day">
                <mat-option *ngFor="let day of daysList" [value]="day.key">
                    {{day.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>

    <ng-template #elseBlock>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>תאריך הנסיעה</mat-label>
            <input matInput placeholder="20:00" type="date" min="date.now()" name="date"
                [(ngModel)]="travel.date">
        </mat-form-field>
    </ng-template>
    <br />
    
    <button class="btn" (click)="updateTravel()">עדכן נסיעה</button>
    <button class="btn"  (click)="onNoClick()">ביטול</button>
</form>