
<div id="details" style="direction: rtl;">
<h1>Car sharing </h1>
<p>
        רוצה לחסוך כסף?
    <br/>
    אין לך זמן מיותר?
    <br/>
       האתר הזה בדיוק בשבילך!!
       </p >
<div class="title"> תיווך בין נהגים הנוסעים באופן קבוע<br/> לבין תושבים המעוניינים להגיע לאותו כיוון, בתשלום סמלי.<br/> עליך רק להכניס את השעה והמיקום של המוצא והיעד, ואנחנו נאתר לך את הנסיעה הטובה ביותר עבורך!<br/>  </div>
<p class="driver">נהג??<br/>הכנס למערכת, כדי לקבל  את מחיר הדלק חזרה, בלי מאמץ!!! </p>

<button class="btn btn1" routerLink="/login" data-id="btn1">כניסה למערכת</button><br/><br/>
<button class="btn btn1" routerLink="/register" data-id="btn1">משתמש חדש</button></div>

