<button class="close" mat-button (click)="onNoClick()">X</button>

<form class="example-form" style="direction: rtl;">
    <mat-form-field style="direction: rtl;" class="example-full-width" appearance="fill">
        <mat-label style="direction: rtl;">כתובת מקור</mat-label>
        <input style="direction: rtl;" matInput placeholder="רחוב יהושע בני ברק" #source>
    </mat-form-field>
<p></p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>כתובת יעד</mat-label>
        <input matInput placeholder="רחוב פרדו בני ברק" #destination>
    </mat-form-field>
<p></p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>שעת יציאה</mat-label>
        <input matInput placeholder="20:00" type="time" #exitTime>
    </mat-form-field>
<p></p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>שעת הגעה</mat-label>
        <input matInput placeholder="20:00" type="time" #arriveTime>
    </mat-form-field>
<p></p>
    <label id="example-radio-group-label">בחר האם נסיעתך קבועה או חד פעמית</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="status"
        [(ngModel)]="statusTravel">
        <mat-radio-button class="example-radio-button" [value]="true">נסיעה קבועה</mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="false">נסיעה חד פעמית</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="statusTravel; then thenBlock else elseBlock"></div>
    
    <ng-template #thenBlock>
        <mat-form-field appearance="fill">
            <mat-label>יום הנסיעה בשבוע</mat-label>
            <mat-select [formControl]="days" multiple>
                <mat-select-trigger>
                    {{days.value ? days.value[0] : ''}}
                    <span *ngIf="days.value?.length > 1" class="example-additional-selection">
                        (+{{days.value.length - 1}} {{days.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let day of daysList" [value]="day.key">{{day.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>

    <ng-template #elseBlock>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>תאריך הנסיעה</mat-label>
            <input matInput placeholder="20:00" type="date" min="date.now()" name="dateForTemporaryTravel"
                [(ngModel)]="dateForTemporaryTravel">
        </mat-form-field>
    </ng-template>
    <br/>
    <button class="btn" (click)="addTravel(source.value,destination.value,exitTime.value,arriveTime.value)">הוסף נסיעה</button>

    <button class="btn"  (click)="onNoClick()">ביטול</button>
</form>