

<div style="margin-top: 50px;text-align: center; font-size: xx-large;font-weight: bolder;color: #570391;">{{wishes +' ' +userName}} </div>

 <img src="./../../assets/img/aboutPage.png" style="margin-left:200px !important; margin-top: 10px;"/>  
 <!-- <div class="pageAbout">
     <div class="picLogo">
        <img src="../../../assets/img/logo.png" />
     </div>
     <div class="explain" style="float: left;">
<p style="color:#c41970;">CAR</p>
<p style="color:#c41970;">SHARING</p>
     </div>
 </div>  -->
